---
http_interactions:
- request:
    method: post
    uri: https://api.sumologic.com/api/v1/search/jobs
    body:
      encoding: UTF-8
      string: "{\"query\":\"| count _sourceCategory\",\"from\":\"2014-01-01T00:00:00\",\"to\":\"2014-01-04T00:00:00\",\"timeZone\":\"EST\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Content-Type:
      - application/json
      Location:
      - http://api.sumologic.com/api/v1/search/jobs/7526045B667E2F3C
    body:
      encoding: UTF-8
      string: "{\"id\":\"7526045B667E2F3C\",\"link\":{\"rel\":\"filtered\",\"href\":\"filtered\"}}"
  recorded_at: Wed, 26 Mar 2014 13:49:56 GMT
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/7526045B667E2F3C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"state\":\"GATHERING RESULTS\",\"pendingWarnings\":[],\"pendingErrors\":[],\"histogramBuckets\":[],\"messageCount\":0,\"recordCount\":0}"
  recorded_at: Wed, 26 Mar 2014 13:49:56 GMT
[...]
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/7526045B667E2F3C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"state\":\"GATHERING RESULTS\",\"pendingWarnings\":[],\"pendingErrors\":[],\"histogramBuckets\":[{\"length\":3600000,\"count\":1,\"startTimestamp\":1388808000000},{\"length\":3600000,\"count\":1,\"startTimestamp\":1388804400000},{\"length\":3600000,\"count\":1,\"startTimestamp\":1388800800000},{\"length\":3600000,\"count\":2,\"startTimestamp\":1388797200000},{\"length\":3600000,\"count\":2,\"startTimestamp\":1388793600000},{\"length\":3600000,\"count\":5,\"startTimestamp\":1388790000000},{\"length\":3600000,\"count\":1,\"startTimestamp\":1388786400000},{\"length\":3600000,\"count\":3,\"startTimestamp\":1388782800000}],\"messageCount\":16,\"recordCount\":1}"
  recorded_at: Wed, 26 Mar 2014 13:49:57 GMT
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/7526045B667E2F3C/records?limit=1&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"fields\":[{\"keyField\":true,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"}],\"records\":[{\"map\":{\"_count\":\"filtered\",\"_sourcecategory\":\"filtered\"}}]}"
  recorded_at: Wed, 26 Mar 2014 13:49:58 GMT
[...]
