---
http_interactions:
- request:
    method: post
    uri: https://api.sumologic.com/api/v1/search/jobs
    body:
      encoding: UTF-8
      string: '{"query":"| count _sourceCategory","from":"2014-01-01T00:00:00","to":"2014-01-04T00:00:00","timeZone":"EST"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Content-Type:
      - application/json
      Location:
      - http://api.sumologic.com/api/v1/search/jobs/190E3CAB831B33E3
    body:
      encoding: UTF-8
      string: '{"id":"190E3CAB831B33E3","link":{"rel":"filtered","href":"filtered"}}'
  recorded_at: Mon, 08 Sep 2014 16:53:37 GMT
recorded_with: VCR 2.9.0
