---
http_interactions:
- request:
    method: post
    uri: https://api.sumologic.com/api/v1/search/jobs
    body:
      encoding: UTF-8
      string: "{\"query\":\"| count _sourceCategory\",\"from\":\"2014-01-01T00:00:00\",\"to\":\"2014-02-01T00:00:00\",\"timeZone\":\"EST\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Content-Type:
      - application/json
      Location:
      - http://api.sumologic.com/api/v1/search/jobs/452E2B11B758D3D8
    body:
      encoding: UTF-8
      string: "{\"id\":\"452E2B11B758D3D8\",\"link\":{\"rel\":\"filtered\",\"href\":\"filtered\"}}"
  recorded_at: Tue, 08 Apr 2014 15:34:07 GMT
- request:
    method: delete
    uri: https://api.sumologic.com/api/v1/search/jobs/452E2B11B758D3D8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"id\":\"452E2B11B758D3D8\"}"
  recorded_at: Tue, 08 Apr 2014 15:34:08 GMT
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/452E2B11B758D3D8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "{\"status\":404,\"id\":\"A49JI-O54IC-C39UJ\",\"code\":\"filtered\",\"message\":\"filtered\"}"
  recorded_at: Tue, 08 Apr 2014 15:34:08 GMT
recorded_with: VCR 2.8.0
