---
http_interactions:
- request:
    method: post
    uri: https://api.sumologic.com/api/v1/search/jobs
    body:
      encoding: UTF-8
      string: "{\"query\":\"| count _sourceCategory\",\"from\":\"2014-01-01T00:00:00\",\"to\":\"2014-01-07T00:00:00\",\"timeZone\":\"EST\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Content-Type:
      - application/json
      Location:
      - http://api.sumologic.com/api/v1/search/jobs/25091E7E50399566
    body:
      encoding: UTF-8
      string: "{\"id\":\"25091E7E50399566\",\"link\":{\"rel\":\"filtered\",\"href\":\"filtered\"}}"
  recorded_at: Tue, 08 Apr 2014 15:34:08 GMT
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/25091E7E50399566
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"state\":\"GATHERING RESULTS\",\"pendingWarnings\":[],\"pendingErrors\":[],\"histogramBuckets\":[],\"messageCount\":0,\"recordCount\":-1}"
  recorded_at: Tue, 08 Apr 2014 15:34:08 GMT
[...]
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/25091E7E50399566
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"state\":\"GATHERING RESULTS\",\"pendingWarnings\":[],\"pendingErrors\":[],\"histogramBuckets\":[{\"length\":86400000,\"count\":28,\"startTimestamp\":1388984400000}],\"messageCount\":28,\"recordCount\":1}"
  recorded_at: Tue, 08 Apr 2014 15:34:09 GMT
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/25091E7E50399566/messages?limit=28&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"fields\":[{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false},{\"name\":\"filtered\",\"fieldType\":\"filtered\",\"keyField\":false}],\"messages\":[{\"map\":{\"_receipttime\":\"filtered\",\"_source\":\"filtered\",\"_collector\":\"filtered\",\"_format\":\"filtered\",\"_blockid\":\"filtered\",\"_messageid\":\"filtered\",\"_messagetime\":\"filtered\",\"_collectorid\":\"filtered\",\"_sourcename\":\"filtered\",\"_sourcehost\":\"filtered\",\"_raw\":\"filtered\",\"_size\":\"filtered\",\"_sourcecategory\":\"filtered\",\"_sourceid\":\"filtered\",\"_messagecount\":\"filtered\"}},{\"map\":{\"_receipttime\":\"filtered\",\"_source\":\"filtered\",\"_collector\":\"filtered\",\"_format\":\"filtered\",\"_blockid\":\"filtered\",\"_messageid\":\"filtered\",\"_messagetime\":\"filtered\",\"_collectorid\":\"filtered\",\"_sourcename\":\"filtered\",\"_sourcehost\":\"filtered\",\"_raw\":\"filtered\",\"_size\":\"filtered\",\"_sourcecategory\":\"filtered\",\"_sourceid\":\"filtered\",\"_messagecount\":\"filtered\"}},{\"map\":{\"_receipttime\":\"filtered\",\"_source\":\"fil[...]
[...]
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/25091E7E50399566
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"state\":\"DONE GATHERING RESULTS\",\"pendingWarnings\":[],\"pendingErrors\":[],\"histogramBuckets\":[{\"length\":86400000,\"count\":48,\"startTimestamp\":1388984400000},{\"length\":86400000,\"count\":13,\"startTimestamp\":1388898000000},{\"length\":86400000,\"count\":16,\"startTimestamp\":1388811600000},{\"length\":86400000,\"count\":27,\"startTimestamp\":1388725200000},{\"length\":86400000,\"count\":44,\"startTimestamp\":1388638800000},{\"length\":86400000,\"count\":11,\"startTimestamp\":1388552400000}],\"messageCount\":159,\"recordCount\":1}"
  recorded_at: Tue, 08 Apr 2014 15:34:20 GMT
recorded_with: VCR 2.8.0
