---
http_interactions:
- request:
    method: post
    uri: https://api.sumologic.com/api/v1/search/jobs
    body:
      encoding: UTF-8
      string: "{\"query\":\"| count _sourceCategory\",\"from\":\"2014-01-01T00:00:00\",\"to\":\"2014-01-07T00:00:00\",\"timeZone\":\"EST\"}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: 
    headers:
      Content-Type:
      - application/json
      Location:
      - http://api.sumologic.com/api/v1/search/jobs/33BB3648E1E22B17
    body:
      encoding: UTF-8
      string: "{\"id\":\"33BB3648E1E22B17\",\"link\":{\"rel\":\"filtered\",\"href\":\"filtered\"}}"
  recorded_at: Wed, 26 Mar 2014 13:49:44 GMT
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/33BB3648E1E22B17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"state\":\"GATHERING RESULTS\",\"pendingWarnings\":[],\"pendingErrors\":[],\"histogramBuckets\":[],\"messageCount\":0,\"recordCount\":0}"
  recorded_at: Wed, 26 Mar 2014 13:49:44 GMT
[...]
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/33BB3648E1E22B17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"state\":\"GATHERING RESULTS\",\"pendingWarnings\":[],\"pendingErrors\":[],\"histogramBuckets\":[{\"length\":86400000,\"count\":35,\"startTimestamp\":1388984400000}],\"messageCount\":35,\"recordCount\":1}"
  recorded_at: Wed, 26 Mar 2014 13:49:45 GMT
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/33BB3648E1E22B17/messages?limit=35&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"fields\":[{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"},{\"keyField\":false,\"name\":\"filtered\",\"fieldType\":\"filtered\"}],\"messages\":[{\"map\":{\"_receipttime\":\"filtered\",\"_source\":\"filtered\",\"_collector\":\"filtered\",\"_format\":\"filtered\",\"_blockid\":\"filtered\",\"_messageid\":\"filtered\",\"_messagetime\":\"filtered\",\"_collectorid\":\"filtered\",\"_sourcename\":\"filtered\",\"_sourcehost\":\"filtered\",\"_raw\":\"filtered\",\"_size\":\"filtered\",\"_sourcecategory\":\"filtered\",\"_sourceid\":\"filtered\",\"_messagecount\":\"filtered\"}},{\"map\":{\"_receipttime\":\"filtered\",\"_source\":\"filtered\",\"_collector\":\"filtered\",\"_format\":\"filtered\",\"_blockid\":\"filtered\",\"_messageid\":\"filtered\",\"_messagetime\":\"filtered\",\"_collectorid\":\"filtered\",\"_sourcename\":\"filtered\",\"_sourcehost\":\"filtered\",\"_raw\":\"filtered\",\"_size\":\"filtered\",\"_sourcecategory\":\"filtered\",\"_sourceid\":\"filtered\",\"_messagecount\":\"filtered\"}},{\"map\":{\"_receipttime\":\"filtered\",\"_source\":\"fil[...]
[...]
- request:
    method: get
    uri: https://api.sumologic.com/api/v1/search/jobs/33BB3648E1E22B17
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\"state\":\"DONE GATHERING RESULTS\",\"pendingWarnings\":[],\"pendingErrors\":[],\"histogramBuckets\":[{\"length\":86400000,\"count\":64,\"startTimestamp\":1388984400000},{\"length\":86400000,\"count\":43,\"startTimestamp\":1388898000000},{\"length\":86400000,\"count\":24,\"startTimestamp\":1388811600000},{\"length\":86400000,\"count\":37,\"startTimestamp\":1388725200000},{\"length\":86400000,\"count\":57,\"startTimestamp\":1388638800000},{\"length\":86400000,\"count\":34,\"startTimestamp\":1388552400000}],\"messageCount\":259,\"recordCount\":1}"
  recorded_at: Wed, 26 Mar 2014 13:49:56 GMT
recorded_with: VCR 2.8.0
